<!DOCTYPE html>

            <div class="jumbotron">
                <h1 class="text-center">Alurapic</h1>
            </div>
            <!--
            <div class="panel panel-default col-md-2" ng-repeat="foto in fotos">
                <div>
                    <h3 class="panel-title text-center">{{foto.titulo}}</h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive center-block" src={{foto.url}}>    
                </div>
            </div> -->
            <p ng-show="mensagem.lenght" class="alert alert-info">
                {{mensagem}}
            </p>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="/nova" class="btn btn-primary" type="button">Nova Foto</a>
                            </span>
                            <input class="form-control" placeholder="Filtrar pelo título" ng-model="txtbusca" ng-model-options="{debounce:500}">
                        </div>
                    </form>
                </div>

            </div>
            <div class="row">
                <meu-painel ng-repeat="foto in fotos | filter:{titulo:txtbusca}" titulo="{{foto.titulo | maiusculo}}" class="painel-animado col-md-2">
                    <img class="img-responsive center-block" src={{foto.url}} alt="{{foto.titulo}}">
                    
                    <a class="btn btn-primary btn-block" href="/fotos/edit/{{foto._id}}">Editar</a>
                    <meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo>
                </meu-painel>
            </div>
